{%extends 'base.html'%}
{%load i18n%}
{% load crispy_forms_tags %}
{% block content %}




{%if not user_auth %}
<div class="row">
	<div class="col-md-6">
		<h2>Guest Login</h2>
		<form method="POST" action="">
			{%csrf_token%}
			{{form|crispy}}
			<input type="submit" class="btn btn-default" value="Continue as Guest">
		</form>
	</div>

	<div class="col-md-6">
	<h2>Login to Continue</h2>
		<form method="post" action="{% url 'auth_login' %}">
			{%csrf_token%}
			{{login_form|crispy}}
			<input type="hidden" value="{{next_url}}" name="next">
			<input type="submit" class="btn btn-default" value="Login">
		</form>
		<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
		<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
	</div>
</div>
{%endif%}
{%endblock%}