{% extends "base.html"%}

<script>
	{%block jquery%}
		$('.item-qty').change(function(){
			// $(this).next('.btn-update').fadeIn();
			item = $(this).prev('input[type="hidden"]').val();
			qty = $(this).val();
			var data ={
				item :item,
				qty : qty
			}
			console.log(data)
			$.ajax({
				type: 'GET',
				url: {% url 'cart' %},
				data: data,
				success: function(data){
					if (data.deleted){
						$('#item'+item).fadeOut();	
						$('#subtotal').text(data.subtotal)
					}
					else{

						$('#item-line-total-'+item).text(data.line_item_total);
						$('#subtotal').text(data.subtotal)
					}

				},
				error: function(response, error){
					console.log (response)
				}

			})
		});
	{%endblock%}
	

</script>

{%block content%}


{% if object.cartitem_set.count < 1 %}
<div class="col-sm-6 col-sm-offset-3">
	<h1>Your cart is empty</h1>
</div>
{%else%}

<table class="table">
	{% for items in object.cartitem_set.all%}
	<tr id="item-{{items.item.id}}">
	
		<td>{{items}}</td>
		<td><form action="{% url 'cart' %}" method="GET"><input type="hidden" class="hidden_item" name="item" value="{{items.item.id}}"><input type="number" name="qty" value="{{items.quantity}}" class="item-qty"><input type="submit" class="btn-update btn btn-link" value="Update" style="display: none;"></form></td>
		<td id="item-line-total-{{items.item.id}}">{{items.line_item_total}}</td>
		<td class="text-right"><a href="{{items.remove}}">x</a></td>
		
	
	</tr>

	{%endfor %}
	<tr>
		<td id="subtotal" colspan='4' class="text-right">Sub Total: {{object.subtotal}}</td>
	</tr>

</table>
{%endif%}

{%endblock%}