{% extends "base.html" %}

	<script>
	{%block jquery%}
	function setPrice() {
		var price = $(".variation_select option:selected").attr("data-price")
		var sale_price = $(".variation_select option:selected").attr("data-sale-price")
		if (sale_price != "" && sale_price != "None" && sale_price != null)
			$("#price").html("<h3>" +sale_price + "<small style='' >" + price+ "</small></h3>");
		else{
			$('#price').html(price);
		}
	
	}
	$(".variation_select").change(function () {
		setPrice()
	})
	$('#submit-btn').click(function(event){
		event.preventDefault();
		var formData = $('#add-form').serialize();
		console.log(formData);
		// $('#add-form').submit()
		$.ajax({
			type:'GET',
			url: {% url 'cart'%},
			data: formData,
			success: function(data){
				$('#message').text('item_added' + data.item_added, 'item_deleted' + data.deleted)
				// console.log('item_added' + data.item_added, 'item_deleted' + data.deleted);

			},
			error: function(response, data){
				console.log(response, data)
			}


		})
	})



	{%endblock%}
      
    </script>
	
{% block content %}

<div class="row">

<div class="col-sm-8">
<h2>{{object.title}}</h2>
{%if  object.productimage_set.count > 0 %}
<div>
{%for img in object.productimage_set.all %}
 <img class="img-responsive" src="{{img.image.url}}">
{% endfor %}
</div>
{% endif %}

<p class="lead">
	{{object.description}}
</p>
</div>

<div class="col-sm-4">
<p id="message"></p>
{%if  object.variation_set.count > 1 %}
<h3 id='price'>{{object.price}}</h3>
<form id="add-form" method='GET' action="{% url 'cart' %}">
	<select name='item' class="form-control variation_select ">
		{%for v_obj in object.variation_set.all %}

		 <option data-sale-price = " {{v_obj.sale_price}} " data-price="{{v_obj.price}}" value="{{v_obj.id}}">{{v_obj}}</option>
		
		{%endfor%}
	</select>

{%else%}
	<h3 id='price'>{%if variation_set.first.sale_price %} {{object.variation_set.first.sale_price}}
	<small class="og-price">{{object.variation_set.first.price}}</small>
	{%else%}
		{{object.variation_set.first.price}}
	{%endif%}
	</h3><br>


{%endif%}<br>
<input type="number" name="qty" value="1"><br>
<input id="submit-btn" type="submit" class="btn btn-default"  value="Add to cart"/>
<br/>
<!-- <a href="#">Add to Card</a> -->
</form>
<hr>
<h4>Related Products</h4>

<div class="row">
{%for product in related%}

<div class="col-sm-6">
	<div class="thumbnail">
		{%if product.get_image_url%}
		<img id="img" src="{{product.get_image_url}}">
		{%endif%}
		  
	      <div class="caption">
	        <h4><a href={{product.get_absolute_url}}>{{product.title}}</a></h4>
	        
	      </div>
	</div>
</div> 

{%endfor%}
</div>
</div>
</div>
{% endblock %}

