{% extends "base.html" %}

{% block content %}

<table class="table">
{% for object in object_list %}
<tr>
	<td><a href={{object.get_absolute_url}}>{{object.title}}</a></td>
</tr>
{%endfor%}
</table>

{% endblock %}

