{% extends "base.html" %}

{% block content %}

<table class="table">
{% for object in object_list %}
<tr>
	<td><a href={{object.get_absolute_url}}>{{object.title}}</a></td>
</tr>
{%endfor%}
</table>

<form method="POST" action="">{%csrf_token%}

{{formset.management_form}}

{% for form in formset %}
{{form.instance.product.title}}
{{form.instance.title}}
{{form.as_p}}

{%endfor%}

<input type="submit" name="Update" class="btn">
</form>
{% endblock %}

